<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detection</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            background-color: #f2f2f2;
        }
        textarea {
            width: 60%;
            height: 150px;
            padding: 10px;
        }
        button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            cursor: pointer;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>

    <h1>🧠 Fake News Detection System</h1>

    <form action="/predict" method="post">
        <textarea name="news" placeholder="Enter news text here..."></textarea><br><br>
        <button type="submit">Check News</button>
    </form>

    {% if prediction_text %}
    <h2 style="color:green;">{{ prediction_text }}</h2>
{% endif %}

</body>
</html>